<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>798779039009-btc3evotugmvfd4umcmg4cv0ikfmtagc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.798779039009-btc3evotugmvfd4umcmg4cv0ikfmtagc</string>
	<key>API_KEY</key>
	<string>AIzaSyAPE3wZxoTpse8Ek7_ctcmGLcvmnM96Irs</string>
	<key>GCM_SENDER_ID</key>
	<string>798779039009</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tik</string>
	<key>PROJECT_ID</key>
	<string>tikdb-c8174</string>
	<key>STORAGE_BUCKET</key>
	<string>tikdb-c8174.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:798779039009:ios:4a1f472588d39f09a73260</string>
</dict>
</plist>